textarea {
  height: 300px;
}


fieldset {
  height: 300px;
}

.required:after { 
 content:"*";
 font-family: "Open Sans";

}




/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-90-width {
  width: 90%;
  box-sizing: border-box; }
  
/* Utility Classes */

/* Make element full width */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* Float either direction */
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
  
  
/* Admin Panel  https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/

.flex-nav-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
}

header {
  background : #e4e4e4;
  height : 50px;
  width : 100%;
}


header a {
        
        color: #000000;
        text-decoration: none;
        margin-right: 10px;
        
        
      }

html, body {
        height: 100%;
        margin: 0px;
    }
 
/* 100% height dependent on parent element */    
nav {
   
    background : #dddddd;
    height : 100%;
    width : 10%;
    
}

  nav h3 {
        
        background : #bbbbbb;
        text-align: center;
        height : 30px;
        width : 100%;
      }
nav h3:hover { 
         background:#aaaaaa;
         
        
}


nav a {
        
        color: #000000;
        text-decoration: none;
        
        
      }
